@import url(https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap);footer {
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: #2c3e50;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #f0f0f0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul.contact-info li.nav-item {
  color: #fff;
}

ul.contact-info li.nav-item a {
  color: #fff;
}

a.brand-sojka {
  color: #fff;
  font-family: "Kaushan Script", cursive;
  font-size: 1.6rem;
}

a.brand-sojka:hover {
  color: #f0f0f0;
}

p.h-card-text {
  margin-top: 0;
  margin-bottom: auto;
}

.h-card-body {
  display: flex;
  flex-direction: column;
}

.h-card-body a.h-a-btn .h-more-info {
  width: 100%;
  margin-top: 10px;
}

.h-card-body a.h-a-btn:hover {
  text-decoration: none;
}

.h-more-info {
  color: #34495e;
  border-color: #34495e;
}

.h-more-info:hover {
  color: #34495e;
  border-color: #34495e;
}

.p-product-title {
  color: #2d3436;
  font-weight: bold;
}

.p-product-title a {
  color: #2d3436;
  font-weight: bold;
}

.p-product-title a:hover {
  color: #2d3436;
  text-decoration: none;
}

.list-group-item {
  text-align: center !important;
}

.list-group-item.active {
  background-color: #34495e !important;
  border-color: #34495e !important;
  font-weight: bold;
}

ul.navbar-nav.contact-info {
  display: flex;
  flex-direction: row;
}

ul.navbar-nav.contact-info .contact-text-1 {
  padding-right: 20px;
  padding-top: 10px;
}

ul.navbar-nav.contact-info .contact-text-2 {
  display: flex;
  flex-direction: column;
}

a.page-contact-link {
  font-size: 18px;
  border-bottom: 1px dotted;
}

a.page-contact-link:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}

@media (max-width: 768px) {
  a.brand-sojka {
    font-size: 1.3rem;
  }

  ul.navbar-nav {
    margin: 0 auto;
  }
}

/* GALLERYYYYYYYYYYYYYYYYY*/

.ekko-lightbox-nav-overlay a span {
  padding: 0 30px;
  color: #000;
}

/*END GALLERYYYYYYYYYYYYYYYYYYYY*/

