{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Sójka katalog produktów</title>

    <link rel="stylesheet" href="{% static 'catalog/style.css' %}">




    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>







    <script src="https://kit.fontawesome.com/4bf7ca5569.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>




</head>

<body>

    <nav class="navbar" style="background-color: #34495e;">

        <div class="container flex-row">
            <!-- Links -->
            <ul class="navbar-nav navbar-brand">
                <li class="nav-item">
                    <a class="nav-link brand-sojka" href="{%url 'homepage' %}">Katalog
                        Produktów - Szymon Sójka</a>
                </li>
            </ul>
            <!-- Links -->

            <ul class="navbar-nav contact-info">
                <li class="nav-item">
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:kontakt@szymonsojka.pl">kontakt@szymonsojka.pl</a>
                </li>
                <li class="nav-item">
                    <i class="fas fa-phone"></i>
                    123 456 678
                </li>
            </ul>



        </div>

    </nav>



    <main>
        <div class="container mt-4">
            {% block content %}{% endblock content %}
        </div>
    </main>

    <footer class="mt-2">
        <div class="footer">
            Copyright &copy; <a href="https://matuszewski.co">matuszewski.co</a> 2020
        </div>
    </footer>



</body>

</html>