{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}

<section>

    <div class="card mb-4 mt-4">

        <div class="row">

            <div class=" col-lg-4">
                <img class="img-fluid rounded-left contact-img" src="{% static 'catalog/img/kontakt.jpg' %}"
                    alt="project image">
            </div>

            <div class="col-lg-8 p-5 align-self-center">

                <h4 class="h4-responsive mb-3">Katalog produktów Szymon Sójka</h4>

                <p class="text-muted">Dis nec ultricies aliquet volutpat. Porttitor lectus cum porttitor aptent dictum
                    inceptos, parturient ultrices class platea. Netus vulputate elit cum aptent mus venenatis auctor
                    pellentesque adipiscing. Nisl, dolor elit volutpat amet turpis. Velit malesuada purus bibendum amet
                    pretium lectus.
                </p>

                <!--Grid row-->
                <div class="row text-center">

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                        <i class="fas fa-map-marker-alt fa-2x blue-text"></i>
                        <p class="font-weight-bold my-3">New York, 94126, United States</p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                        <i class="fas fa-phone fa-2x blue-text"></i>
                        <p class="font-weight-bold my-3">123 456 789</p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                        <i class="fas fa-envelope fa-2x blue-text"></i>
                        <p class="font-weight-bold my-3">info@gmail.com</p>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->


            </div>

        </div>

    </div>

</section>

{% endblock content %}