{% extends 'catalog/base.html' %}
{% block content %}



<div class="row">
  <div class="col-12 col-md-12 col-lg-3">
    <div class="list-group mb-4">
      <a href="{% url 'homepage' %}" class="list-group-item list-group-item-action active">
        Wszystkie produkty
      </a>
      {% for category in category_obj %}
      <a href="{% url 'product-category' category.slug %}" class="list-group-item list-group-item-action">
        {{ category.title }} </a>
      {% endfor %}
    </div>
  </div>
  <div class="col-12 col-md-12 col-lg-9">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

      {% for product in product_obj %}

      <div class="col mb-4" style="display: inline-flex;">
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            {% if product.sale > 0 %} <div class="onsale">Promocja!</div> {% endif %}
            <a href="{% url 'product-detail' product.slug %}" class="card-img-top d-flex"
              style="background: url('{{ product.img.url }}') center; background-size: cover; width: auto; height: 200px;">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
          </div>

          <!--Card content-->
          <div class="card-body h-card-body">

            <!--Title-->
            <h4 class="card-title p-product-title"><a
                href="{% url 'product-detail' product.slug %}">{{ product.title  }}</a></h4>
            {% if product.sale > 0 %}
            <h5>{{product.sale}} zł <span class="sale strikethrough">{{ product.price }} zł </span></h5>
            {% else %}
            <h5> {{ product.price }} zł </h5>
            {% endif %}
            <!--Text-->
            <p class="card-text h-card-text">{{ product.short_description|truncatechars:120 }}</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a href="{% url 'product-detail' product.slug %}" class="h-a-btn"> <button type="button"
                class="btn btn-outline-secondary  h-more-info">Więcej
                informacji</button></a>

            {% if request.user.is_superuser %}
            <a href="{% url 'product-update' product.slug %}" class="h-a-btn"> <button type="button"
                class="btn btn-outline-secondary  h-more-info">Edytuj</button></a>
            {% endif %}


          </div>

        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>


{% endblock content %}











<!-- Card -->

<!-- Card -->