{% extends 'catalog/base.html' %}
{% block content %}

<!--Section: Content-->
<section class="text-center mt-5">

    <div class="row">
        <div class="col-lg-6">


            <!--Slides-->

            <a href="{{ product_obj.img.url }}" data-toggle="lightbox" data-gallery="example-gallery">
                <img src="{{ product_obj.img.url }}" alt="Product image" class="img-fluid detail-img">
            </a>

            <!--/.Slides-->

            <!-- Gallery -->
            <div class="row mb-4 mt-4">
                <div class="col-12">
                    <div class="row">
                        {% for gallery in gallery_obj %}
                        <a href="{{ gallery.img.url }}" data-toggle="lightbox" data-gallery="example-gallery"
                            class="col-4">
                            <img src="{{ gallery.img.url }}" class="img-fluid" style="max-height: 90px;">
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- /Gallery -->


        </div>

        <div class="col-lg-5 text-left">

            <h2
                class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4 p-product-title h2-product-m-title">
                {{ product_obj.title }}
                {% if product.sale > 0 %} <span class="onsale_detail">-{{ product.show_promo }}%
                </span> {% endif %}
            </h2>

            <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4 h3-product-m-price">
                <span class="red-text font-weight-bold">
                    {% if product_obj.sale > 0 %}
                    <strong>{{product_obj.sale}} zł <span class="sale strikethrough"
                            style="font-size: 20px;">{{ product_obj.price }} zł
                        </span></strong>
                    {% else %}
                    <strong> {{ product_obj.price }} zł </strong>
                    {% endif %}
                </span>
            </h3>

            <div class="font-weight-normal">

                <p class="ml-xl-0 ml-4">{{ product_obj.short_description }}</p>

                <p class="ml-xl-0 ml-4 d-flex flex-column">
                    {% if product_obj.mark != '0' %}
                    <span>
                        <strong>Marka: </strong>
                        {{ product_obj.mark }}
                    </span>
                    {% endif %}

                    {% if product_obj.condition != '0' %}
                    <span>
                        <strong>Stan: </strong>
                        {{ product_obj.condition }}
                    </span>
                    {% endif %}

                    <span>
                        <strong>Kategoria: </strong>
                        <a href="{% url 'product-category' product_obj.category.slug %}"
                            style="color: #6c757d;">{{ product_obj.category }}</a></p>
                </span>








            </div>

            <div class="text-center text-md-left">
                {% if product_obj.auction_url != '#' %}
                <a href="{{ product_obj.auction_url }}" target="_blank"><button type="button"
                        class="btn btn-outline-secondary btn-rounded waves-effect">Przejdź do Allegro</button></a>
                {% endif %}

                {% if request.user.is_superuser %}
                <a href="{% url 'product-update' product.slug %}" class="h-a-btn"> <button type="button"
                        class="btn btn-outline-secondary ">Edytuj</button></a>
                {% endif %}
            </div>


        </div>
    </div>

</section>
<!--Section: Content-->

<section class="mt-4">
    {{ product_obj.description|safe }}
</section>


{% endblock content %}